.al-bookmark-list-bookmark {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: baseline;
}

.al-bookmark-list-bookmark {
  border-radius: 25px;
  width: calc(100% - 60px);
  background-color: #c5c5c5;
  margin-bottom: 10px;
  padding-left: 20px;
}
