<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <h2 mat-dialog-title>Settings</h2>
  <mat-dialog-content class="mat-typography">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <h2>About</h2>
    <p>
      Version:
      <span data-id="al-todo-settings-version">{{ version$ | async }}</span>
    </p>
    <p>
      Build Time:
      <span data-id="al-todo-settings-build-time">{{
        buildTime$ | async
      }}</span>
    </p>
    <p>
      Commit Hash:
      <span data-id="al-todo-settings-commit-hash">{{
        commitHash$ | async
      }}</span>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      type="reset"
      [mat-dialog-close]="true"
      data-id="al-todo-settings-cancel"
    >
      {{ 'TODO_SETTINGS_CANCEL_BUTTON' | translate }}
    </button>
    <button
      mat-button
      type="submit"
      [mat-dialog-close]="true"
      data-id="al-todo-settings-save"
      cdkFocusInitial
    >
      {{ 'TODO_SETTINGS_SAVE_BUTTON' | translate }}
    </button>
  </mat-dialog-actions>
</form>
