$mobile-width: 700px;

.al-media-control-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.al-media-control-element-album {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.al-media-control-element-control {
  order: 0;
  flex: 0.5 1 auto;
  align-self: stretch;
}

.al-media-control-element-empty {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

@media only screen and (max-width: $mobile-width) {
  .al-media-control-element-album {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
  }

  .al-media-control-element-control {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }

  .al-media-control-element-empty {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
  }
}

.al-media-player-buttons-container {
  padding: 10px;
}

.al-media-player-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.al-media-player-control-button {
  margin: 5px;
}

.al-media-player-progress-container {
  padding: 0 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.al-media-player-progress-element {
  margin: 5px;
}
