<div class="al-media-control-container mat-app-background mat-typography">
  <div class="al-media-control-element-album">
    <!-- <img src="https://via.placeholder.com/300" height="100"/>
    <p>Track Name</p>
    <p>Album Name</p>
    <p>Artist Name</p> -->
  </div>
  <div class="al-media-control-element-control">
    <div class="al-media-player-buttons-container">
      <div class="al-media-player-button-group">
        <button
          aria-label="Previous Track Button"
          class="al-media-player-control-button al-media-player-button-previous"
          data-testid="previous-button"
          mat-fab
          (click)="previousTrack()"
        >
          <fa-icon [icon]="faStepBackward"></fa-icon>
        </button>
        <button
          aria-label="Pause Track Button"
          class="al-media-player-control-button al-media-player-button-pause"
          data-testid="pause-button"
          mat-fab
          role="button"
          *ngIf="isPlaying$ | async; else pauseTemplate"
          (click)="pause()"
        >
          <fa-icon [icon]="faPause"></fa-icon>
        </button>
        <button
          aria-label="Next Track Button"
          class="al-media-player-control-button al-media-player-button-skip"
          data-testid="skip-button"
          mat-fab
          (click)="skipTrack()"
        >
          <fa-icon [icon]="faStepForward"></fa-icon>
        </button>
      </div>
    </div>
    <div class="al-media-player-progress-container">
      <p class="al-media-player-progress-element">3:00</p>
      <mat-progress-bar
        class="al-media-player-progress-element"
        mode="determinate"
        value="80"
      >
      </mat-progress-bar>
      <p class="al-media-player-progress-element">3:52</p>
    </div>
  </div>
  <div class="al-media-control-element-empty"></div>
</div>

<ng-template #pauseTemplate>
  <button
    aria-label="Play Track Button"
    class="al-media-player-control-button al-media-player-button-play"
    data-testid="play-button"
    mat-fab
    (click)="play()"
  >
    <fa-icon [icon]="faPlay"></fa-icon>
  </button>
</ng-template>

<!--
<div class="al-grid-container">
  <div class="al-player">
    <div>
      <button mat-fab aria-label="Previous Track Button">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-fab aria-label="Pause Track Button">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-fab aria-label="Play Track Button">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-fab aria-label="Next Track Button">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>
  <div class="al-image">
    <img src="https://via.placeholder.com/300" />
  </div>
  <div class="al-progress al-progress-container">
    <p>0:00</p>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <p>3:52</p>
  </div>
</div> -->
