h1 {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: small;
}

p {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: small;
  margin: 0;
}

.al-favourite-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.al-favourite-search-padding {
  flex-grow: 1;
  flex-shrink: 1;
}
