<mat-toolbar class="al-todo-header">
  <button
    mat-icon-button
    [attr.aria-label]="'TODO_SIDEBAR_BUTTON_ARIA_TEXT' | translate"
    (click)="sidenav.toggle()"
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <span>{{ 'TODO_APP_NAME' | translate }}</span>

  <span class="al-todo-menu-spacer"></span>
  <button
    data-id="todo-settings-button"
    mat-icon-button
    [attr.aria-label]="'TODO_SETTINGS_BUTTON_ARIA_TEXT' | translate"
    (click)="openSettingsDialog()"
  >
    <fa-icon [icon]="faCog"></fa-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="al-todo-container">
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    class="al-todo-sidebar"
    [fixedInViewport]="false"
  >
  </mat-sidenav>

  <mat-sidenav-content class="al-todo-content">
    <al-todo-list
      [todos]="todos$ | async"
      (taskCompleted)="taskCompleted($event)"
    ></al-todo-list>
    <al-create-todo (submitTodo)="addTask($event)"></al-create-todo>
  </mat-sidenav-content>
</mat-sidenav-container>
