<mat-toolbar class="al-todo-header">
  <button
    mat-icon-button
    aria-label="Todo app sidebar menu toggle"
    (click)="sidenav.toggle()"
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <span>Todo App</span>

  <span class="al-todo-menu-spacer"></span>
  <button mat-icon-button>
    <fa-icon [icon]="faCog"></fa-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="al-todo-container">
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    class="al-todo-sidebar"
    [fixedInViewport]="false"
  >
  </mat-sidenav>

  <mat-sidenav-content>
    <al-todo-list [todos]="todos$ | async"></al-todo-list>
  </mat-sidenav-content>
</mat-sidenav-container>
