.al-todo-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.al-todo-menu-spacer {
  flex: 1 1 auto;
}

.al-todo-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.al-todo-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
